/* Style guide */


/*
   Written By Aaron Palmer
   Last Edit: 01/31/2024 

*/




/* Main class */
head {
  background-color: yellow;
}

body{
  background-image: url("/Images/IMG_9519.jpg");
  background-repeat: repeat-y;
  background-size: cover;

}



.sidenavbtn {
  transition: margin-left .5s;
  width: 35px;
  position: relative;
    left: 10px;
    top: 5px;
}

/* Navigation Hamburger Bar Icon */
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #818181;
  margin: 6px 0;
  transition: 0.4s;
  z-index: 1;
  position: relative;
    
}

  /* Rotate first bar */
  .change .bar1 {
    
    transform: translate(0, 11px) rotate(-45deg);
  }

  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}

  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }


/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: absolute; /* Stay in place */
  /*z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 10px;
      padding-top: 0px;
    position: relative;
      top: 10px;
    max-width: fit-content;
    background-color: rgba(130, 198, 253, 0.404);
    min-height: 50px;
    background-blend-mode: color-burn; 
    border: solid whitesmoke;
    border-radius: 5px;
    

  }
  
  .head-img {
    /* The image used */
    background-color: rgba(130, 198, 253, 0.404);
    min-height: 50px;
    background-blend-mode: color-burn; 
    border: solid whitesmoke;
    border-radius: 5px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    /* Needed to position the navbar */
    position: relative;

    transition: margin-left .5s;
  }
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav a {font-size: 18px; position: relative; top:35px;}
    .sidenav {padding-top: 30px;}

  }

  /* NEED: something similar to above but with scrolling and making
            sidebar sticky
  */


  .firstgame {
    transition: margin-left .5s;
  }
  
